@import "../variables";

.login {
    position: relative;
    background: url("/images/hero.png") no-repeat top left;

    // form

    input,
    textarea {
        border: 1px solid transparent;
        margin: 0 0 1rem;
    }
}
