.screen {
    position: relative;
    background: url("/images/screen-hero.png") no-repeat top left;

    // form

    input,
    textarea {
        border: 1px solid transparent;
        margin: 0;
    }

    //vertical stepper

    $background: $white;
    $color: $black;
    $current: $secondary;
    $done: $primary;
    $inactive: $light-gray;
    $icon-size: 2rem;

    .stepper {
        position: relative;
        list-style: none;
        margin: 0;
        padding: 0;

        &::before {
            display: inline-block;
            content: "";
            position: absolute;
            top: 0;
            left: $icon-size/2;
            width: 1px;
            height: 100%;
            border-left: 1px solid $inactive;
        }

        li {
            position: relative;
            counter-increment: list;
            padding-left: $icon-size + 1rem;
            line-height: $icon-size;
            color: $inactive;

            &:not(:last-child) {
                padding-bottom: 20px;
            }

            &::after {
                display: inline-block;
                position: absolute;
                top: 0;
                left: 0;
                content: "\f192";
                font-family: $font-awesome;
                font-weight: 900;
                font-size: 2rem;
                color: $inactive;
                text-align: center;
                background: $background;
            }

            &.done {
                color: $color;
                &::after {
                    content: "\f058";
                    color: $done;
                }
            }

            &.current {
                font-weight: 700;
                color: $color;
                &::after {
                    color: $current;
                }
            }
        }
    }

    .form-container {
        min-height: 600px;
    }
}
