// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');
@import "~@fortawesome/fontawesome-free/scss/fontawesome";

@import 'variables';
@import "foundation";
@import "typography";
@import "accessibility";
@import "colors";
@import "forms";
@import "buttons";
@import "settings";
@import "pages/pages";
@import "components/components";

* {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

body,
html {
    background-color: $white;
    font-size: 16px;
    font-family: $primary-font-family;
    color: $black;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

body {
    overflow-x: hidden;
}

img {
    max-width: 100%;
    height: auto;
}

a,
a:visited,
a:active {
    color: $link-color;
    text-decoration: $link-decoration;
    transition: $transition;

    &:hover {
        color: $link-color-hover;
        text-decoration: $link-decoration-hover;
        cursor: pointer;

        &.button {
            text-decoration: none;
        }
    }
}

.caret-right {
    position: relative;

    &:after {
        position: absolute;
        content: '\0203A';
        margin-left: .25rem;
    }
}

.caret-down {
    position: relative;

    &:after {
        position: absolute;
        content: '\0203A';
        transform: rotate(90deg);
        margin-left: .5rem;
    }
}

hr {
    border: 0;
    height: 1px;
    background: $medium-gray;
    margin: 2rem 0;
    @media all and (max-width: $breakpoint-mobile) {
        margin: 1rem 0;
    }
}

.container {
    width: 100%;
    max-width: $breakpoint-tablet;
    margin: auto;

    @media all and (max-width: $breakpoint-tablet) {
        width: calc(100% - 2rem);
    }
}

.container-smaller {
    max-width: 1000px;
    margin: 0 auto 0 0;
}

.section-padding-100 {
    padding-top: 100px;
    @media all and (max-width: $breakpoint-mobile) {
        padding-top: 50px;
    }
}

.section-padding-50 {
    padding-top: 50px;
    @media all and (max-width: $breakpoint-mobile) {
        padding-top: 25px;
    }
}
