nav {
    position: absolute;
    width: 100%;
    top: 0;
    right: 0;
    left: 0;
    padding: 1.5rem;
    text-align: right;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 1.2rem;
    z-index: 100;

    ul {
        list-style: none;
        margin: 0;
        li {
            display: inline;
            margin: .5rem;
        }
    }

    a,
    a:visited,
    a:active {
        color: $white;
        text-decoration: none;
        &:hover {
            color: $secondary;
            text-decoration: none;
        }
    }
}
